{{#each surveys as |survey|}}
<div class="handlebars">
<h1 data-id="{{survey._id}}"> <small>Title: {{survey.title}}</small></h1>
  <li>Description: {{survey.description}}
  </li>
  <li>Question: {{survey.question}}
  </li>
  <li>ID: {{survey._id}}
  </li>
</div>
{{/each}}
