{{#each surveys as |survey|}}
<div class="handlebars">
<h1 data-id="{{survey._id}}"> <small>Title: {{survey.title}}</small></h1>
  <li>Description: {{survey.description}}
  </li>
  <li>ID: {{survey._id}}
  </li>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{survey._id}}">Take this survey!</button>

  <div class="modal answer-modal fade" id="{{survey._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-id="{{survey._id}}">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1 class="modal-title" id="myModalLabel">{{survey.title}}</h1>
          </div>
          <div class="modal-body">
            <h2>{{survey.question}}
            </h2>
            <form class="create-answer">
                  <input type="radio" name="answer[response]" value="1" required>1 Strongly Disagree<br>
                  <input type="radio" name="answer[response]" value="2">2 Disagree<br>
                  <input type="radio" name="answer[response]" value="3">3 Neutral<br>
                  <input type="radio" name="answer[response]" value="4">4 Agree<br>
                  <input type="radio" name="answer[response]" value="5">5 Strongly Agree<br>
                  <input type="text" name="answer[survey]" placeholder="survey id" class="hidden" value="{{survey._id}}"><br>
                  <input type="submit" class='submit-answer-button' data-id="{{survey._id}}" value="Submit Answer">
            </form>
            <form class="index-answer">
              <fieldset>
                <input type="submit" value="Index Answers">
              </fieldset>
            </form>
            <div id="results"> </div>
          </div>

          <div class="modal-footer">
              <p class="modal-message"></p>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
{{/each}}
