<div class="handlebars">
<h1 data-id="{{survey._id}}"> <small>Title: {{survey.title}}</small></h1>
  <li>Description: {{survey.description}}
  </li>
  <li>Question: {{survey.question}}
  </li>
  <li>ID: {{survey._id}}
  </li>
  <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{survey._id}}">Take this survey!</button> -->

</div>
